<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input [(ngModel)]="hero.name" id="hero-name" placeholder="Hero name"/>
  </div>
  <form [formGroup]="caracteristiqueForm">
    <div>
      <label for="hero-attaque">Hero attaque: </label>
      <input (ngModelChange)="checkAttaque()" [(ngModel)]="hero.attaque" formControlName="attaque" id="hero-attaque"
             min="0"
             placeholder="Hero attaque" type="number"/>
    </div>
    <div>
      <label for="hero-degats">Hero degats: </label>
      <input (ngModelChange)="checkDegat()" [(ngModel)]="hero.degats" formControlName="degats" id="hero-degats" min="0"
             placeholder="Hero degats" type="number"/>
    </div>
    <div>
      <label for="hero-esquive">Hero esquive: </label>
      <input (ngModelChange)="checkEsquive()" [(ngModel)]="hero.esquive" formControlName="esquive" id="hero-esquive"
             min="0"
             placeholder="Hero esquive" type="number"/>
    </div>
    <div>
      <label for="hero-pv">Hero pv: </label>
      <input (ngModelChange)="checkPV()" [(ngModel)]="hero.pv" formControlName="pv" id="hero-pv" min="0"
             placeholder="Hero pv"
             type="number"/>
    </div>

    <div>
      <div *ngIf="pointToGive() > 0">
        <p>Il vous reste {{ pointToGive() }} point(s) à ajouter</p>
      </div>
      <div *ngIf="pointToGive() < 0">
        <p>Vous devez enlever {{ pointToGive() * -1 }} point(s)</p>
      </div>
      <div *ngIf="pointToGive() == 0">
        <p>Le nombre de points à assigné est à son maximum : 40</p>
      </div>
    </div>


  </form>
  <div>
    <div *ngIf="hero.idWeapon; else elseBlock">
      <label>{{ findWeapon() }}</label>

      <button (click)="deleteWeapon()">Delete Weapon</button>
    </div>
    <ng-template #elseBlock>
      <label>Armes selectionner :</label>

      <select [(ngModel)]="selectedWeapon" id="weapons">
        <option [ngValue]="" selected>Aucune arme selectionner</option>
        <option *ngFor="let weapon of weapons" [ngValue]="weapon">{{ weapon.name }}</option>
      </select>
    </ng-template>
  </div>


  <button (click)="updateHero()" [disabled]="stateHeroButton">Submit</button>

  <button (click)="goBack()" type="button">go back</button>
</div>
