<div *ngIf="weapon">
  <h2>{{weapon.name | uppercase}} Details</h2>
  <div><span>id: </span>{{weapon.id}}</div>
  <div>
    <label for="weapon-name">Weapon name: </label>
    <input [(ngModel)]="weapon.name" id="weapon-name" placeholder="Weapon name"/>
  </div>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="caracteristiqueForm">
    <div>
      <label for="weapon-attaque">Weapon attaque: </label>
      <input (ngModelChange)="checkAttaque()" [(ngModel)]="weapon.attaque" formControlName="attaque" id="weapon-attaque"
             placeholder="Weapon attaque" type="number"/>
    </div>
    <div>
      <label for="weapon-degats">Weapon degats: </label>
      <input (ngModelChange)="checkDegat()" [(ngModel)]="weapon.degats" formControlName="degats" id="weapon-degats"
             placeholder="Weapon degats" type="number"/>
    </div>
    <div>
      <label for="weapon-esquive">Weapon esquive: </label>
      <input (ngModelChange)="checkEsquive()" [(ngModel)]="weapon.esquive" formControlName="esquive" id="weapon-esquive"
             placeholder="Weapon esquive" type="number"/>
    </div>
    <div>
      <label for="weapon-pv">Weapon pv: </label>
      <input (ngModelChange)="checkPV()" [(ngModel)]="weapon.pv" formControlName="pv" id="weapon-pv"
             placeholder="Weapon pv"
             type="number"/>
    </div>

    <div>
      <div *ngIf="pointToGive() > 0">
        <p>Il vous reste {{ pointToGive() }} point(s) à ajouter</p>
      </div>
      <div *ngIf="pointToGive() < 0">
        <p>Vous devez enlever {{ pointToGive() * -1 }} point(s)</p>
      </div>
      <div *ngIf="pointToGive() == 0">
        <p>Le total des points est bien égal à 0</p>
      </div>
    </div>

    <button (click)="updateWeapon()" [disabled]="stateWeaponButton" type="submit">Submit</button>
  </form>
  <button (click)="goBack()" type="button">go back</button>
</div>
