<select (change)="onParametreTriChange()" [(ngModel)]="selectedParametreTri">
  <option *ngFor="let parametre of parametresTri" [value]="parametre">{{ parametre }}</option>
</select>

<div>
  <input (input)="onSearch()" [(ngModel)]="searchTerm" placeholder="Rechercher un héros" type="text"/>
  <button (click)="resetSearchBar()">Reset</button>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/hero/detail/{{hero.id}}">
      <span class="badge">|</span> {{hero.name}}
    </a>
    <button (click)="deleteHeroConfirmation(hero.id.toString())" id="delete-button">x</button>
  </li>
</ul>
<button (click)="createNewHero()">
  New Hero
</button>
